<%- include("header") -%>

<div class="heading">
    <h1> Welcome To the ToDo App </h1>
    <form action="/" method="post"> 
        <button type="submit" class="btn btn-dark" name="btn" value="login"> Login </button>
    </form>
    <form action="/" method="post">
        <button type="submit" class="btn btn-dark" name="btn" value="register"> Register </button>
    </form>
</div>


<%- include("footer") -%>